version: '3.9'

services:
  spring:
    image: beecool/music-player:latest
    container_name: spring_app
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
        compress: "true"

  frontend:
    image: beecool/music-player-frontend:latest
    container_name: frontend_nginx
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - spring
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  redis:
    image: redis:6.2
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
